body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
}

h1 {
    margin-top: 20px;
}

.container {
    position: relative;
    width: 640px;
    margin: auto;
}

video, canvas {
    width: 640px;
    height: 480px;
    border-radius: 10px;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
}

#output {
    margin-top: 20px;
    font-size: 28px;
    color: #38bdf8;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #38bdf8;
    cursor: pointer;
}
#emergencyBtn {
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}

#emergencyBtn:hover {
    background-color: darkred;
}